// NYPL Toolkit
@import 'nypl-normalize';
@import 'toolkit';

// App Components
@import 'components/loader';
@import 'components/sidebar-navigation';
@import 'containers/refile';

.app-header {
  background-color: $nypl-blue-tint;
  border-bottom: 2.5px solid $nypl-blue-dark;

  .title {
    color: $nypl-blue-dark;
    font-weight: 400;
  }
}

#barcodes {
  height: 600px;
}

.nypl-submit-button-wrapper {
  display: block;
  margin: 25px 0 0;
}

.update-metadata-view,
.transfer-metadata-view {
  h2 {
    &::before {
      background: $nypl-gray-cool;
      content: "";
      display: block;
      height: 0.25rem;
      margin-bottom: 0.5rem;
      width: 5rem;
    }
  }
}
